@import "base/reset.css";
@import "base/variables.css";
@import "base/typography.css";

@import "layout/header.css";
@import "layout/navigation.css";
@import "layout/footer.css";

@import "components/hero.css";
@import "components/brand-card.css";
@import "components/filters.css";
@import "components/releases-grid.css";
@import "components/card.css";
@import "components/hamburger.css";
@import "components/project-details.css";
@import "components/trailer-card.css";
@import "components/responsive.css";
@import "components/form-container.css";

@import "pages/home.css";
@import "pages/brand.css";
@import "pages/project.css";
@import "pages/register.css";
@import "pages/login.css";