/* BASE */
@import "base/reset.css";
@import "base/variables.css";
@import "base/typography.css";

/* LAYOUT */
@import "layout/header.css";
@import "layout/navigation.css";
@import "layout/footer.css";

/* COMPONENTS */
@import "components/hero.css";
@import "components/brand-card.css";
@import "components/filters.css";
@import "components/releases-grid.css";
@import "components/card.css";
@import "components/hamburger.css";
@import "components/project-details.css";
@import "components/trailer-card.css";
@import "components/responsive.css";

/* PAGE SPECIFIC */
@import "pages/home.css";
@import "pages/brand.css";
@import "pages/project.css";