@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

body {
    font-family: 'Orbitron', sans-serif;
    background-color: #0d0d0d;
    color: #ddd;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}