.trailer-card {
    background-color: #141414;
    padding: 40px 30px;
    border-radius: 28px;
    box-shadow: 0 25px 50px rgba(0,0,0,.6);
    margin-top: 80px;
}

.trailer-card h3 {
    font-size: 1.8rem;
    color: var(--main-color);
    margin-bottom: 25px;
}

.trailer-card .trailer-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.trailer-card iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 16px;
    border: none;
}